<!DOCTYPE html>
<html>
  <head>
    <title><%= siteTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= siteTitle %></h1>
    <p>Artículos para el hogar</p>
    <h2>Creo que aquí debería ir el listado de productos, pero mejor dejarlo para cuando la API esté funcionando al completo</h2>
    <h1>🦄</h1>
  </body>

  </html>