<%- include('header') -%>

    <hr>

    <h2><%= __('Tags') %></h2>

    <ul>
        <% for (let i = 0; i < setTags.length; i++) { %>
            <li><%= setTags[i] %></li>
        <% } %> 
    </ul>

<%- include('footer') -%>